/*Contect section*/
.shadow .card{
    box-shadow: 0px  0px 20px 12px rgb(199, 181, 233);
  }
  
  .login_name{
    font-size: 40px;
    margin-left: 20px;
  }
  .submit_btn{
    font-size: 40px;
  }
  #login_part button{
    font-size: 30px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid tomato;
  }
  #login_part .button_center{
    text-align: center;
  }
  #login_part .card{
    border: 2px solid yellowgreen;
    border-radius: 30px;
  }
  #login_part input, textarea{
    padding-left: 40px;
    font-size: 30px;
  }
  #login_part .outline{
    border-radius: 20px;
  }
  .contect_us{
    padding: 80px;
    text-align: center; 
  }
  .contect_us h1{
     font-size: 80px;
     color: yellowgreen;
  }
  .contect_us h3 {
    font-size: 40px;
    color: black
  }
  #contect_part{
    padding: 20px;
  }
  #contect_part h1{
    text-align: center;
    margin: 20px;
  }
  #contect_part svg{
    margin-top: 20px;
    border: 3px solid tomato;
    border-style: dotted;
    border-radius: 10px;  
  }
  
  .section22 .card{
    box-shadow: 10px 10px 10px 5px rgb(85, 82, 82); 
  }
  #slider .card{
    height: 100px;
  }
  .Founder_heading h1{
      text-align: center;
      font-size: 40px;
      font-weight: 500;
  }
  .founder img{
    height: 120px;
    width: 130px;
    border-radius: 50%;
    margin-top: 20px;
    align-items: center;
  }
  #founder .card{
      border-radius: 30px;
  }
  .found{
    align-items: center;
    display:flex;
    justify-content: center;
  }
  .sec{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
  }
  .text{
    color: black;
    font-size: 27px;
    text-align: center;
  }
  .text1{
    color: tomato;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
  }
  .text11{
    color: var(--green);
    font-size: 30px;
    text-align: center;
  }
  
  #testimonial1:before{
    
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .section-head12 h1{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
  }
  .section-head12 h1:after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
  }
  .office_location h1, h4{
    text-align: center;
    margin: 10px;
  }
  #testimonial1 .card{
    border: 1px solid yellowgreen;
    border-radius: 20%;
    box-shadow: 10px 10px 10px 5px rgb(85, 82, 82);
  }